<p-dialog [header]="title" [(visible)]="display" (onHide)="closeDisplay()">
  <p-tabView>
    <p-tabPanel header="Übersicht">
      <div *ngIf="stock && stock.balance">
        <div class = "ui-g">
          <div class = "ui-g-12"><button type="button" pButton label="Vergleichen" (click)="addToCompare(symbol)" icon="fa-plus-circle"></button></div>
        </div>
        <div class = "ui-g">
          <div class = "ui-g-3">Name</div><div class = "ui-g-3">{{stock.name}}</div>
          <div class = "ui-g-3">ISIN</div><div class = "ui-g-3">{{stock.isin}}</div>
        </div>
        <div class = "ui-g">
          <div class = "ui-g-3">Geschäftsjahresende</div><div class = "ui-g-3">{{stock.balance[0].modifiedAt | date:'dd.MM.'}}</div>
          <div class = "ui-g-3"></div><div class = "ui-g-3"></div>
        </div>
        <div *ngIf="values && values.length > 0" class = "ui-g">
          <div class = "ui-g-3">Marktkapitalisierung</div><div class = "ui-g-3">{{values[values.length - 1].marketCapitalization}}</div>
          <div class = "ui-g-3">Aktienkategorie</div><div class = "ui-g-3">{{stock.stockCategory}}</div>
        </div>
        <div *ngFor="let index of indexNames" class = "ui-g">
          <div class = "ui-g-3">{{index}}</div><div class = "ui-g-3">{{stock.indexParticipation[index]*100 | number}}%</div>
          <div class = "ui-g-3"></div><div class = "ui-g-3"></div>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Bilanz">
      <div *ngIf="stock && stock.balance">
        <div class = "ui-g">
          <p-dataTable [value]="createTableObject(transposeData(stock.balance))">
              <p-column *ngFor="let col of getColsFromData(transposeData(stock.balance))" [field]="col.field" [header]="col.header"></p-column>
          </p-dataTable>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Cashflow">
      <div *ngIf="stock && stock.cashflow">
        <div class = "ui-g">
          <p-dataTable [value]="createTableObject(transposeData(stock.cashflow))">
              <p-column *ngFor="let col of getColsFromData(transposeData(stock.cashflow))" [field]="col.field" [header]="col.header"></p-column>
          </p-dataTable>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Gewinn -und Verlustrechnung">
      <div *ngIf="stock && stock.income">
        <div class = "ui-g">
          <p-dataTable [value]="createTableObject(transposeData(stock.income))">
              <p-column *ngFor="let col of getColsFromData(transposeData(stock.income))" [field]="col.field" [header]="col.header"></p-column>
          </p-dataTable>
        </div>
      </div>
    </p-tabPanel>
        <p-tabPanel header="Values">
      <div *ngIf="value">
        <div class = "ui-g">
          <div class = "ui-g-3">KGV</div><div class = "ui-g-3">{{value.priceEarningsRatio}}</div>
          <div class = "ui-g-3">KCV</div><div class = "ui-g-3">{{value.priceCashflowRatio}}</div>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Signals">
      <div *ngIf="signals">
        <div class = "ui-g">
          <p-dataTable [value]="createTableObject(transposeData(signals))">
              <p-column *ngFor="let col of getColsFromData(transposeData(signals))" [field]="col.field" [header]="col.header"></p-column>
          </p-dataTable>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Prognosen">
      <div *ngIf="stock && stock.forecast">
        <div class = "ui-g">
          <p-dataTable [value]="createTableObject(transposeData(stock.forecast))">
              <p-column *ngFor="let col of getColsFromData(transposeData(stock.forecast))" [field]="col.field" [header]="col.header"></p-column>
          </p-dataTable>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Levermann">
      <app-levermann [stock]="stock"></app-levermann>
    </p-tabPanel>
  </p-tabView>
</p-dialog>
