<p-dialog [header]="title" [(visible)]="display" (onHide)="closeDisplay()">
  <p-tabView>
    <p-tabPanel header="Übersicht">
      <div *ngIf="stock">
        <div class = "ui-g">
          <div class = "ui-g-12"><button type="button" pButton label="Vergleichen" (click)="addToCompare(symbol)" icon="fa-plus-circle"></button></div>
        </div>
        <div class = "ui-g">
          <div class = "ui-g-3">Name</div><div class = "ui-g-3">{{stock.name}}</div>
          <div class = "ui-g-3">ISIN</div><div class = "ui-g-3">{{stock.isin}}</div>
        </div>
        <div class = "ui-g">
          <div class = "ui-g-3">NSIN</div><div class = "ui-g-3">{{stock.nsin}}</div>
          <div class = "ui-g-3">URL</div><div class = "ui-g-3">{{stock.url}}</div>
        </div>
        <div class = "ui-g">
          <div class = "ui-g-12" [chart]="historicalChart"></div>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Kennzahlen">
      <div *ngIf="dailyfundamental">
        <div class = "ui-g">
          <div class = "ui-g-3">Gewinn pro Aktie</div><div class = "ui-g-3">{{dailyfundamental.earningsPerShare}}</div>
          <div class = "ui-g-3">KGV</div><div class = "ui-g-3">{{dailyfundamental.priceEarningsRatio}}</div>
        </div>
        <div class = "ui-g">
          <div class = "ui-g-3">Gewinnwachstum</div><div class = "ui-g-3">{{dailyfundamental.profitGrowthOneYear}}</div>
          <div class = "ui-g-3">PEG</div><div class = "ui-g-3">{{dailyfundamental.profitPeg}}</div>
        </div>
        <div class = "ui-g">
          <div class = "ui-g-3">Dividende (netto)</div><div class = "ui-g-3">{{dailyfundamental.dividendAmount}}</div>
          <div class = "ui-g-3">Dividendenrendite</div><div class = "ui-g-3">{{dailyfundamental.dividendYield}}</div>
        </div>
        <div class = "ui-g">
          <div class = "ui-g-3">Cashflow pro Aktie</div><div class = "ui-g-3">{{dailyfundamental.cashflowPerShare}}</div>
          <div class = "ui-g-3">Kurs-Cashflow Verhältnis (KCV)</div><div class = "ui-g-3">{{dailyfundamental.cashflowKcv}}</div>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Fundamentalkennzahlen">
      <div *ngIf="annualfundamental">
        <div class = "ui-g">
          <div class = "ui-g-3">Umsatz</div><div class = "ui-g-3">{{annualfundamental.turnover}}</div>
          <div class = "ui-g-3">Umsatzwachstum</div><div class = "ui-g-3">{{annualfundamental.turnoverGrowthOneYear}}</div>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Technische Kennzahlen">
      <div *ngIf="technicaldata">
        <div class = "ui-g">
          <div class = "ui-g-3">Performance (1 Woche)</div><div class = "ui-g-3">{{technicaldata.performance7d}}%</div>
          <div class = "ui-g-3">Performance (1 Jahr)</div><div class = "ui-g-3">{{technicaldata.performance1y}}%</div>
        </div>
        <div class = "ui-g">
          <div class = "ui-g-3">Performance (1 Monat)</div><div class = "ui-g-3">{{technicaldata.performance30d}}%</div>
          <div class = "ui-g-3">Performance (3 Jahre)</div><div class = "ui-g-3">{{technicaldata.performance3y}}%</div>
        </div>
        <div class = "ui-g">
          <div class = "ui-g-3">Performance (6 Monate)</div><div class = "ui-g-3">{{technicaldata.performance6m}}%</div>
          <div class = "ui-g-3">Performance (5 Jahre)</div><div class = "ui-g-3">{{technicaldata.performance5y}}%</div>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Charts">
      <div class = "ui-g">
        <div class = "ui-g-12" [chart]="chart"></div>
      </div>
    </p-tabPanel>
  </p-tabView>
</p-dialog>
