<div class = "ui-g">
  <div class = "ui-g-12">
    <span [ngSwitch]="index">
      <span *ngSwitchCase="0">
        <h2>Levermann-Strategie</h2>
        Die Levermann-Strategie wurde von Susan Levermann in Ihrem Buch "Der entspannte Weg zum Reichtum" publiziert. Die ehemalige Fondsmanagerin entwarf 13 Regeln für die Bewertung einer Aktie.
        <h3>Berechnung</h3>
        Für die Analyse der Unternehmung werden folgende Kennzahlen überprüft:
        <ul>
          <li>Regel 1</li>
          <li>Regel 2</li>
        </ul>
        Die Gesamtsumme der Bewertungskriterien entscheidet über Kauf/Halten oder Verkauf des Wertpapiers. Für Large Caps ist eine Punktzahl von mindestens 4 nötig, kleiner Unternehmen müssen eine Gesamtbewertung von 7 Punkten aufweisen. Befindet 
        <h3>Fakten</h3>
        C
        <h3>Weitere Informationen</h3>
        D
      </span>
      <span *ngSwitchCase="1">
        <h2>Magic Formula Strategie</h2>
      </span>
      <span *ngSwitchCase="2">
        <h2>Piotroski-F-Score Strategie</h2>
      </span>
    </span>
  </div>
</div>
