<p-growl [(value)]="msgs"></p-growl>
<div *ngIf="showSpinner" class="spinner">
  <p-progressSpinner strokeWidth="6" [style]="{position: 'absolute', left: '45%', top: '45%', width: '50px', height: '50px'}"></p-progressSpinner>
</div>
<div class="ui-g">
    <div class="ui-g-12">
        <app-menubar></app-menubar>
    </div>
</div>
<div class="ui-g">
    <div class="ui-g-12">
        <app-fundamental></app-fundamental>
        <app-indexdetail></app-indexdetail>
        <router-outlet></router-outlet>
    </div>
</div>
<div class="ui-g">
    <div class="ui-g-12">
        <app-footerbar></app-footerbar>
    </div>
</div>
