<input [(ngModel)]="symbol" />
<input type="button" value="Los" (click)="searchSymbol()" />
<br /><br />
<p-dataTable [value]="symbols" selectionMode="single" [(selection)]="selectedSymbol">
    <p-column field="symbol" header="Symbol"></p-column>
    <p-column field="name" header="Name"></p-column>
    <p-column field="exch" header="Country"></p-column>
    <p-column field="typeDisp" header="State"></p-column>
    <p-column field="exchDisp" header="Exchange"></p-column>
</p-dataTable>

<input type="button" value="Los" (click)="getFundamentals()" [disabled]="!selectedSymbol" />
<div *ngIf="fundamental">
Volumen: {{fundamental.AverageDailyVolume}}
Book Value: {{fundamental.BookValue}}
</div>
