<p-dialog [header]="title" [(visible)]="display" (onHide)="closeDisplay()">
    <div *ngIf="fundamental" class="ui-g">
      <div class = "ui-g-6">Name</div><div class = "ui-g-6">{{fundamental.Name}}</div>
      <div class = "ui-g-6">Börse</div><div class = "ui-g-6">{{fundamental.StockExchange}}</div>
      <div class = "ui-g-6">Symbol</div><div class = "ui-g-6">{{fundamental.Symbol}}</div>
      <div class = "ui-g-6">Währung</div><div class = "ui-g-6">{{fundamental.Currency}}</div>
      <div class = "ui-g-6">Tägliches Volumen (durchsch.)</div><div class = "ui-g-6">{{fundamental.AverageDailyVolume}}</div>
      <div class = "ui-g-6">Buchwert</div><div class = "ui-g-6">{{fundamental.LastTradePriceOnly}}</div>
      <div class = "ui-g-6">KGV</div><div class = "ui-g-6">{{fundamental.PERatio}}</div>
      <div class = "ui-g-6">Marktkapitalisierung</div><div class = "ui-g-6">{{fundamental.MarketCapitalization}}</div>
      <div class = "ui-g-6">Dividende pro Aktie</div><div class = "ui-g-6">{{fundamental.DividendShare}}</div>
      <div class = "ui-g-6">Dividendenrendite</div><div class = "ui-g-6">{{fundamental.DividendYield}}</div>
      <div class = "ui-g-6">Gewinn pro Aktie</div><div class = "ui-g-6">{{fundamental.EarningsShare}}</div>
      <div class = "ui-g-12" [chart]="chart"></div>
      <div class = "ui-g-12"><button type="button" pButton (click)="addToCompare(symbol)" icon="fa-plus-circle"></button></div>
    </div>
</p-dialog>
