<div *ngIf="levermannData && calculatedAt" class="ui-g">
  <div class="ui-g-12">
    <p-accordion [multiple]="true">
      <p-accordionTab [disabled]="true">
        <p-header>
          <div class="ui-g">
            <div class="ui-g-10">
              Levermanm Score (Calculated at {{calculatedAt | date}})
            </div>
            <div class="ui-g-2" style="text-align: right;">
              {{levermannScore}}
            </div>
          </div>
        </p-header>
      </p-accordionTab>
      <p-accordionTab [selected]="levermannData && levermannData.roiEquity" [disabled]="!levermannData || !levermannData.roiEquity">
        <p-header>
          <div class="ui-g">
            <div class="ui-g-10">
              Eigenkapitalrendite
            </div>
            <div class="ui-g-2" style="text-align: right;">
              <span *ngIf="levermannData && levermannData.roiEquity">
                {{getRoiEquityScore(levermannData.roiEquity)}} <i class="fa fa-info-circle" pTooltip="Lorem ipsum dolor sit amet, consetetur sadipscing elitr." tooltipPosition="left"></i>
              </span>
              <span *ngIf="!levermannData || !levermannData.roiEquity">
                n.a.
              </span>
            </div>
          </div>
        </p-header>
        {{levermannData.roiEquity | number}}%
      </p-accordionTab>
      <p-accordionTab [selected]="levermannData && levermannData.roiEbitMarge" [disabled]="!levermannData || !levermannData.roiEbitMarge">
        <p-header>
          <div class="ui-g">
            <div class="ui-g-10">
              EBIT-Marge
            </div>
            <div class="ui-g-2" style="text-align: right;">
              <span *ngIf="levermannData && levermannData.roiEquity">
                {{getRoiEbitMargeScore(levermannData.roiEbitMarge)}} <i class="fa fa-info-circle" pTooltip="Lorem ipsum dolor sit amet, consetetur sadipscing elitr." tooltipPosition="left"></i>
              </span>
              <span *ngIf="!levermannData || !levermannData.roiEquity">
                n.a.
              </span>
            </div>
          </div>
        </p-header>
        {{levermannData.roiEbitMarge | number}}%
      </p-accordionTab>
      <p-accordionTab [selected]="levermannData && levermannData.balanceSheetEquityRatio" [disabled]="!levermannData || !levermannData.balanceSheetEquityRatio">
        <p-header>
          <div class="ui-g">
            <div class="ui-g-10">
              Eigenkapitalquote
            </div>
            <div class="ui-g-2" style="text-align: right;">
              <span *ngIf="levermannData && levermannData.balanceSheetEquityRatio">
                {{getBalanceSheetEquityRatioScore(levermannData.balanceSheetEquityRatio)}} <i class="fa fa-info-circle" pTooltip="Lorem ipsum dolor sit amet, consetetur sadipscing elitr." tooltipPosition="left"></i>
              </span>
              <span *ngIf="!levermannData || !levermannData.balanceSheetEquityRatio">
                n.a.
              </span>
            </div>
          </div>
        </p-header>
        {{levermannData.balanceSheetEquityRatio | number}}%
      </p-accordionTab>
      <p-accordionTab [selected]="levermannData && levermannData.priceEarningsRatio5YearAverage" [disabled]="!levermannData || !levermannData.priceEarningsRatio5YearAverage">
        <p-header>
          <div class="ui-g">
            <div class="ui-g-10">
              Durchschnittliches KGV
            </div>
            <div class="ui-g-2" style="text-align: right;">
              <span *ngIf="levermannData && levermannData.priceEarningsRatio5YearAverage">
                {{getPriceEarningsRatio5yAvgScore(levermannData.priceEarningsRatio5YearAverage)}} <i class="fa fa-info-circle" pTooltip="Lorem ipsum dolor sit amet, consetetur sadipscing elitr." tooltipPosition="left"></i>
              </span>
              <span *ngIf="!levermannData || !levermannData.priceEarningsRatio5YearAverage">
                n.a.
              </span>
            </div>
          </div>
        </p-header>
        {{levermannData.priceEarningsRatio5YearAverage | number}}
      </p-accordionTab>
      <p-accordionTab [selected]="levermannData && levermannData.priceEarningsRatio" [disabled]="!levermannData || !levermannData.priceEarningsRatio">
        <p-header>
          <div class="ui-g">
            <div class="ui-g-10">
              Aktuelles KGV
            </div>
            <div class="ui-g-2" style="text-align: right;">
              <span *ngIf="levermannData && levermannData.priceEarningsRatio">
                {{getPriceEarningsRatioScore(levermannData.priceEarningsRatio)}} <i class="fa fa-info-circle" pTooltip="Lorem ipsum dolor sit amet, consetetur sadipscing elitr." tooltipPosition="left"></i>
              </span>
              <span *ngIf="!levermannData || !levermannData.priceEarningsRatio">
                n.a.
              </span>
            </div>
          </div>
        </p-header>
        {{levermannData.priceEarningsRatio | number}}
      </p-accordionTab>
      <p-accordionTab [selected]="levermannData && levermannData.analystBuyRatio" [disabled]="!levermannData || !levermannData.analystBuyRatio">
        <p-header>
          <div class="ui-g">
            <div class="ui-g-10">
              Analystenmeinung
            </div>
            <div class="ui-g-2" style="text-align: right;">
              <span *ngIf="levermannData && levermannData.analystBuyRatio">
                {{getAnalystsScore(levermannData.marketCapitalization, levermannData.analystBuyRatio, levermannData.analystSellRatio)}} <i class="fa fa-info-circle" pTooltip="Lorem ipsum dolor sit amet, consetetur sadipscing elitr." tooltipPosition="left"></i>
              </span>
              <span *ngIf="!levermannData || !levermannData.analystBuyRatio">
                n.a.
              </span>
            </div>
          </div>
        </p-header>
        Kaufen: {{levermannData.analystBuyRatio * 100 | number}}%, Verkaufen: {{levermannData.analystSellRatio * 100 | number}}%, Halten: {{100 - ((levermannData.analystSellRatio + levermannData.analystBuyRatio) * 100) | number}}%
      </p-accordionTab>
      <p-accordionTab [selected]="levermannData && levermannData.performance6m" [disabled]="!levermannData || !levermannData.performance6m">
        <p-header>
          <div class="ui-g">
            <div class="ui-g-10">
              Kursentwicklung (6 Monate)
            </div>
            <div class="ui-g-2" style="text-align: right;">
              <span *ngIf="levermannData && levermannData.performance6m">
                {{getPerformanceScore(levermannData.performance6m)}} <i class="fa fa-info-circle" pTooltip="Lorem ipsum dolor sit amet, consetetur sadipscing elitr." tooltipPosition="left"></i>
              </span>
              <span *ngIf="!levermannData || !levermannData.performance6m">
                n.a.
              </span>
            </div>
          </div>
        </p-header>
        {{levermannData.performance6m | number}}%
      </p-accordionTab>
      <p-accordionTab [selected]="levermannData && levermannData.performance1y" [disabled]="!levermannData || !levermannData.performance1y">
        <p-header>
          <div class="ui-g">
            <div class="ui-g-10">
              Kursentwicklung (12 Monate)
            </div>
            <div class="ui-g-2" style="text-align: right;">
              <span *ngIf="levermannData && levermannData.performance1y">
                {{getPerformanceScore(levermannData.performance1y)}} <i class="fa fa-info-circle" pTooltip="Lorem ipsum dolor sit amet, consetetur sadipscing elitr." tooltipPosition="left"></i>
              </span>
              <span *ngIf="!levermannData || !levermannData.performance1y">
                n.a.
              </span>
            </div>
          </div>
        </p-header>
        {{levermannData.performance1y | number}}%
      </p-accordionTab>
      <p-accordionTab [selected]="levermannData && levermannData.performance1y" [disabled]="!levermannData || !levermannData.performance1y">
        <p-header>
          <div class="ui-g">
            <div class="ui-g-10">
              Kursmomentum
            </div>
            <div class="ui-g-2" style="text-align: right;">
              <span *ngIf="levermannData && levermannData.performance1y">
                {{getMomentumScore(levermannData.performance6m, levermannData.performance1y)}} <i class="fa fa-info-circle" pTooltip="Lorem ipsum dolor sit amet, consetetur sadipscing elitr." tooltipPosition="left"></i>
              </span>
              <span *ngIf="!levermannData || !levermannData.performance1y">
                n.a.
              </span>
            </div>
          </div>
        </p-header>
        {{levermannData.performance1y | number}}% (12 Monate) nach {{levermannData.performance6m | number}}% (6 Monate)
      </p-accordionTab>
      <p-accordionTab [selected]="levermannData && levermannData.getEPSGrowthScore" [disabled]="!levermannData || !levermannData.getEPSGrowthScore">
        <p-header>
          <div class="ui-g">
            <div class="ui-g-10">
              Erwarteter Gewinnwachstum
            </div>
            <div class="ui-g-2" style="text-align: right;">
              <span *ngIf="levermannData && levermannData.getEPSGrowthScore">
                {{getEPSGrowthScore(levermannData.getEPSGrowthScore)}} <i class="fa fa-info-circle" pTooltip="Lorem ipsum dolor sit amet, consetetur sadipscing elitr." tooltipPosition="left"></i>
              </span>
              <span *ngIf="!levermannData || !levermannData.getEPSGrowthScore">
                n.a.
              </span>
            </div>
          </div>
        </p-header>
        {{levermannData.earningsPerShareGrowthExpected | number}}%
      </p-accordionTab>
    </p-accordion>
  </div>
</div>
