<div *ngIf="levermannData" class="ui-g">
  <div *ngFor="let score of stock.scores" class="ui-g-12">
    {{score['scoreType']['name']}}-Punktzahl: {{score['scoreValue']}}
  </div>
  <div class="ui-g-12">
    <p-accordion [multiple]="true">
      <p-accordionTab>
        <p-header>
          Eigenkapitalrendite
        </p-header>
        {{levermannData.roiEquity | number}}%
      </p-accordionTab>
      <p-accordionTab>
        <p-header>
          EBIT-Marge
        </p-header>
        {{levermannData.roiEbitMarge | number}}%
      </p-accordionTab>
      <p-accordionTab>
        <p-header>
          Eigenkapitalquote
        </p-header>
        {{levermannData.balanceSheetEquityRatio | number}}%
      </p-accordionTab>
      <p-accordionTab>
        <p-header>
          Durchschnittliches KGV
        </p-header>
        {{levermannData.priceEarningsRatio5YearAverage | number}}
      </p-accordionTab>
      <p-accordionTab>
        <p-header>
          Aktuelles KGV
        </p-header>
        {{levermannData.priceEarningsRatio | number}}
      </p-accordionTab>
      <p-accordionTab>
        <p-header>
          Analystenmeinung
        </p-header>
        Kaufen: {{levermannData.analystBuyRatio | number}}%, Verkaufen: {{levermannData.analystSellRatio | number}}%
      </p-accordionTab>
      <p-accordionTab>
        <p-header>
          Kursentwicklung (6 Monate)
        </p-header>
        {{levermannData.performance6m | number}}%
      </p-accordionTab>
      <p-accordionTab>
        <p-header>
          Kursentwicklung (12 Monate)
        </p-header>
        {{levermannData.performance1y | number}}%
      </p-accordionTab>
      <p-accordionTab>
        <p-header>
          Kursmomentum
        </p-header>
        {{levermannData.performance6m | number}}% nach {{levermannData.performance1y | number}}%
      </p-accordionTab>
      <p-accordionTab>
        <p-header>
          Erwarteter Gewinnwachstum
        </p-header>
        {{levermannData.earningsPerShareGrowthExpected | number}}%
      </p-accordionTab>
    </p-accordion>
  </div>
</div>
