<div *ngIf="piotroskiData && calculatedAt" class="ui-g">
  <div class="ui-g-12">
    <div [class]="getScoreCSSClass(true)" i18n="@@piotroski.title">Piotroski F-Score (Calculated at {{calculatedAt | date}})</div>
    <div [class]="getScoreCSSClass()">{{piotroskiScore}}</div>
    <div class="ui-g-12">
      <p-accordion [multiple]="true">
        <p-accordionTab [selected]="piotroskiData && piotroskiData.returnOnAssets" [disabled]="!piotroskiData || !piotroskiData.returnOnAssets">
          <p-header>
            <div class="ui-g">
              <div class="ui-g-10" i18n="@@piotroski.returnonassets">Return on Assets</div>
              <div class="ui-g-2" style="text-align: right;">
                <span *ngIf="piotroskiData && piotroskiData.returnOnAssets">
                  {{getReturnOnAssetsScore(piotroskiData.returnOnAssets)}} <i class="fa fa-info-circle" i18n-pTooltip="@@piotroski.returnonassets.tooltip" pTooltip="Lorem ipsum dolor sit amet, consetetur sadipscing elitr." tooltipPosition="left"></i>
                </span>
                <span *ngIf="!piotroskiData || !piotroskiData.returnOnAssets">
                  n.a.
                </span>
              </div>
            </div>
          </p-header>
          {{piotroskiData.returnOnAssets * 100 | number}}%
        </p-accordionTab>
        <p-accordionTab [selected]="piotroskiData && piotroskiData.cashOperations" [disabled]="!piotroskiData || !piotroskiData.cashOperations">
          <p-header>
            <div class="ui-g">
              <div class="ui-g-10" i18n="@@piotroski.operatingcashflow">Operating Cashflow</div>
              <div class="ui-g-2" style="text-align: right;">
                <span *ngIf="piotroskiData && piotroskiData.cashOperations">
                  {{getCashOperationScore(piotroskiData.cashOperations)}} <i class="fa fa-info-circle" i18n-pTooltip="@@piotroski.operatingcashflow.tooltip" pTooltip="Lorem ipsum dolor sit amet, consetetur sadipscing elitr." tooltipPosition="left"></i>
                </span>
                <span *ngIf="!piotroskiData || !piotroskiData.cashOperations">
                  n.a.
                </span>
              </div>
            </div>
          </p-header>
          {{piotroskiData.cashOperations * 100 | number}}%
        </p-accordionTab>
        <p-accordionTab [selected]="piotroskiData && piotroskiData.actualReturnOnAssets" [disabled]="!piotroskiData || !piotroskiData.actualReturnOnAssets">
          <p-header>
            <div class="ui-g">
              <div class="ui-g-10" i18n="@@piotroski.changereturnonassets">Change in Return of Assets</div>
              <div class="ui-g-2" style="text-align: right;">
                <span *ngIf="piotroskiData && piotroskiData.actualReturnOnAssets">
                  {{getReturnOnAssetsDeltaScore(piotroskiData.actualReturnOnAssets, piotroskiData.lastReturnOnAssets)}} <i class="fa fa-info-circle" i18n-pTooltip="@@piotroski.changereturnonassets.tooltip" pTooltip="Lorem ipsum dolor sit amet, consetetur sadipscing elitr." tooltipPosition="left"></i>
                </span>
                <span *ngIf="!piotroskiData || !piotroskiData.actualReturnOnAssets">
                  n.a.
                </span>
              </div>
            </div>
          </p-header>
          Diesjährige Beobachtungsperiode: {{piotroskiData.actualReturnOnAssets * 100 | number}}% > Letztjährige Beobachtungsperiode: {{piotroskiData.lastReturnOnAssets * 100 | number}}%
        </p-accordionTab>
        <p-accordionTab [selected]="piotroskiData && piotroskiData.cashOperations" [disabled]="!piotroskiData || !piotroskiData.cashOperations">
          <p-header>
            <div class="ui-g">
              <div class="ui-g-10" i18n="@@piotroski.accruals">Accruals</div>
              <div class="ui-g-2" style="text-align: right;">
                <span *ngIf="piotroskiData && piotroskiData.cashOperations">
                  {{getAccrualsScore(piotroskiData.returnOnAssets, piotroskiData.cashOperations)}} <i class="fa fa-info-circle" i18n-pTooltip="@@piotroski.accruals.tooltip" pTooltip="Lorem ipsum dolor sit amet, consetetur sadipscing elitr." tooltipPosition="left"></i>
                </span>
                <span *ngIf="!piotroskiData || !piotroskiData.cashOperations">
                  n.a.
                </span>
              </div>
            </div>
          </p-header>
          Cashflow-Rendite: {{piotroskiData.cashOperations * 100 | number}}% > Nettorendite: {{piotroskiData.actualReturnOnAssets * 100 | number}}%
        </p-accordionTab>
        <p-accordionTab [selected]="piotroskiData && piotroskiData.actualLongTermRatio" [disabled]="!piotroskiData || !piotroskiData.actualLongTermRatio">
          <p-header>
            <div class="ui-g">
              <div class="ui-g-10" i18n="@@piotroski.leverage">Leverage (long-term) Ratio</div>
              <div class="ui-g-2" style="text-align: right;">
                <span *ngIf="piotroskiData && piotroskiData.actualLongTermRatio">
                  {{getLongTermRatioScore(piotroskiData.actualLongTermRatio, piotroskiData.lastLongTermRatio)}} <i class="fa fa-info-circle" i18n-pTooltip="@@piotroski.leverage.tooltip" pTooltip="Lorem ipsum dolor sit amet, consetetur sadipscing elitr." tooltipPosition="left"></i>
                </span>
                <span *ngIf="!piotroskiData || !piotroskiData.actualLongTermRatio">
                  n.a.
                </span>
              </div>
            </div>
          </p-header>
          Diesjährige Beobachtungsperiode: {{piotroskiData.actualLongTermRatio * 100 | number}}% < Letztjährige Beobachtungsperiode: {{piotroskiData.lastLongTermRatio * 100 | number}}%
        </p-accordionTab>
        <p-accordionTab [selected]="piotroskiData && piotroskiData.actualCurrentRatio" [disabled]="!piotroskiData || !piotroskiData.actualCurrentRatio">
          <p-header>
            <div class="ui-g">
              <div class="ui-g-10" i18n="@@piotroski.currentratio">Current Ratio</div>
              <div class="ui-g-2" style="text-align: right;">
                <span *ngIf="piotroskiData && piotroskiData.actualCurrentRatio">
                  {{getCurrentRatioScore(piotroskiData.actualCurrentRatio, piotroskiData.lastCurrentRatio)}} <i class="fa fa-info-circle" i18n-pTooltip="@@piotroski.currentratio.tooltip" pTooltip="Lorem ipsum dolor sit amet, consetetur sadipscing elitr." tooltipPosition="left"></i>
                </span>
                <span *ngIf="!piotroskiData || !piotroskiData.actualCurrentRatio">
                  n.a.
                </span>
              </div>
            </div>
          </p-header>
          Diesjährige Beobachtungsperiode: {{piotroskiData.actualCurrentRatio | number}} > Letztjährige Beobachtungsperiode: {{piotroskiData.lastCurrentRatio | number}}
        </p-accordionTab>
        <p-accordionTab [selected]="piotroskiData && piotroskiData.actualSharesOutstanding" [disabled]="!piotroskiData || !piotroskiData.actualSharesOutstanding">
          <p-header>
            <div class="ui-g">
              <div class="ui-g-10" i18n="@@piotroski.numberofshares">Shares Outstanding</div>
              <div class="ui-g-2" style="text-align: right;">
                <span *ngIf="piotroskiData && piotroskiData.actualSharesOutstanding">
                  {{getSharesOutstandingScore(piotroskiData.actualSharesOutstanding, piotroskiData.lastSharesOutstanding)}} <i class="fa fa-info-circle" i18n-pTooltip="@@piotroski.numberofshares.tooltip" pTooltip="Lorem ipsum dolor sit amet, consetetur sadipscing elitr." tooltipPosition="left"></i>
                </span>
                <span *ngIf="!piotroskiData || !piotroskiData.actualSharesOutstanding">
                  n.a.
                </span>
              </div>
            </div>
          </p-header>
          Diesjährige Beobachtungsperiode: {{piotroskiData.actualSharesOutstanding | number}} <= Letztjährige Beobachtungsperiode: {{piotroskiData.lastSharesOutstanding | number}}
        </p-accordionTab>
        <p-accordionTab [selected]="false" [disabled]="true">
          <p-header>
            <div class="ui-g">
              <div class="ui-g-10" i18n="@@piotroski.grossmargin">Gross Margin</div>
              <div class="ui-g-2" style="text-align: right;">
                n.a. <i class="fa fa-info-circle" i18n-pTooltip="@@piotroski.grossmargin.tooltip" pTooltip="Lorem ipsum dolor sit amet, consetetur sadipscing elitr." tooltipPosition="left"></i>
              </div>
            </div>
          </p-header>
        </p-accordionTab>
        <p-accordionTab [selected]="piotroskiData && piotroskiData.actualAssetTurnover" [disabled]="!piotroskiData || !piotroskiData.actualAssetTurnover">
          <p-header>
            <div class="ui-g">
              <div class="ui-g-10" i18n="@@piotroski.assertturnover">Asset Turnover Ratio</div>
              <div class="ui-g-2" style="text-align: right;">
                <span *ngIf="piotroskiData && piotroskiData.actualAssetTurnover">
                  {{getAssetTurnoverScore(piotroskiData.actualAssetTurnover, piotroskiData.lastAssetTurnover)}} <i class="fa fa-info-circle" i18n-pTooltip="@@piotroski.assertturnover.tooltip" pTooltip="Lorem ipsum dolor sit amet, consetetur sadipscing elitr." tooltipPosition="left"></i>
                </span>
                <span *ngIf="!piotroskiData || !piotroskiData.actualAssetTurnover">
                  n.a.
                </span>
              </div>
            </div>
          </p-header>
           Diesjährige Beobachtungsperiode: {{piotroskiData.actualAssetTurnover | number}} > Letztjährige Beobachtungsperiode: {{piotroskiData.lastAssetTurnover | number}}
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>
</div>
