<div *ngIf="piotroskiData && calculatedAt" class="ui-g">
  <div class="ui-g-12">
    <p-accordion [multiple]="true">
      <p-accordionTab [disabled]="true">
        <p-header>
          <div class="ui-g">
            <div class="ui-g-10">
              Piotroski Score (Calculated at {{calculatedAt | date}})
            </div>
            <div class="ui-g-2" style="text-align: right;">
              {{piotroskiScore}}
            </div>
          </div>
        </p-header>
      </p-accordionTab>
      <p-accordionTab [selected]="true">
        <p-header>
          <div class="ui-g">
            <div class="ui-g-10">
              Nettorendite
            </div>
            <div class="ui-g-2" style="text-align: right;">
              {{getReturnOnAssetsScore(piotroskiData.returnOnAssets)}} <i class="fa fa-info-circle" pTooltip="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua." tooltipPosition="left"></i>
            </div>
          </div>
        </p-header>
        {{piotroskiData.returnOnAssets * 100 | number}}%
      </p-accordionTab>
      <p-accordionTab [selected]="true">
        <p-header>
          <div class="ui-g">
            <div class="ui-g-10">
              Cashflow-Rendite
            </div>
            <div class="ui-g-2" style="text-align: right;">
              {{getCashOperationScore(piotroskiData.cashOperations)}}
            </div>
          </div>
        </p-header>
        {{piotroskiData.cashOperations * 100 | number}}%
      </p-accordionTab>
      <p-accordionTab [selected]="true">
        <p-header>
          <div class="ui-g">
            <div class="ui-g-10">
              Nettorendite (Veränderung)
            </div>
            <div class="ui-g-2" style="text-align: right;">
              {{getReturnOnAssetsDeltaScore(piotroskiData.actualReturnOnAssets, piotroskiData.lastReturnOnAssets)}}
            </div>
          </div>
        </p-header>
        Diesjährige Beobachtungsperiode: {{piotroskiData.actualReturnOnAssets * 100 | number}}% > Letztjährige Beobachtungsperiode: {{piotroskiData.lastReturnOnAssets * 100 | number}}%
      </p-accordionTab>
      <p-accordionTab [selected]="true">
        <p-header>
          <div class="ui-g">
            <div class="ui-g-10">
              Rückstellungsquote
            </div>
            <div class="ui-g-2" style="text-align: right;">
              {{getAccrualsScore(piotroskiData.returnOnAssets, piotroskiData.cashOperations)}}
            </div>
          </div>
        </p-header>
        Cashflow-Rendite: {{piotroskiData.cashOperations * 100 | number}}% > Nettorendite: {{piotroskiData.actualReturnOnAssets * 100 | number}}%
      </p-accordionTab>
      <p-accordionTab [selected]="true">
        <p-header>
          <div class="ui-g">
            <div class="ui-g-10">
              Fremdkapitalanteil
            </div>
            <div class="ui-g-2" style="text-align: right;">
              {{getLongTermRatioScore(piotroskiData.actualLongTermRatio, piotroskiData.lastLongTermRatio)}}
            </div>
          </div>
        </p-header>
        Diesjährige Beobachtungsperiode: {{piotroskiData.actualLongTermRatio * 100 | number}}% < Letztjährige Beobachtungsperiode: {{piotroskiData.lastLongTermRatio * 100 | number}}%
      </p-accordionTab>
      <p-accordionTab [selected]="true">
        <p-header>
          <div class="ui-g">
            <div class="ui-g-10">
              Liquidität 3. Grades
            </div>
            <div class="ui-g-2" style="text-align: right;">
              {{getCurrentRatioScore(piotroskiData.actualCurrentRatio, piotroskiData.lastCurrentRatio)}}
            </div>
          </div>
        </p-header>
        Diesjährige Beobachtungsperiode: {{piotroskiData.actualCurrentRatio | number}} > Letztjährige Beobachtungsperiode: {{piotroskiData.lastCurrentRatio | number}}
      </p-accordionTab>
      <p-accordionTab [selected]="true">
        <p-header>
          <div class="ui-g">
            <div class="ui-g-10">
              Ausstehende Aktien
            </div>
            <div class="ui-g-2" style="text-align: right;">
              {{getSharesOutstandingScore(piotroskiData.actualSharesOutstanding, piotroskiData.lastSharesOutstanding)}}
            </div>
          </div>
        </p-header>
        Diesjährige Beobachtungsperiode: {{piotroskiData.actualSharesOutstanding | number}} <= Letztjährige Beobachtungsperiode: {{piotroskiData.lastSharesOutstanding | number}}
      </p-accordionTab>
      <p-accordionTab [selected]="true">
        <p-header>
          <div class="ui-g">
            <div class="ui-g-10">
              Brutto-Marge
            </div>
            <div class="ui-g-2" style="text-align: right;">
              n.a.
            </div>
          </div>
        </p-header>
      </p-accordionTab>
      <p-accordionTab [selected]="true">
        <p-header>
          <div class="ui-g">
            <div class="ui-g-10">
              Kapitalumschlag
            </div>
            <div class="ui-g-2" style="text-align: right;">
              {{getAssetTurnoverScore(piotroskiData.actualAssetTurnover, piotroskiData.lastAssetTurnover)}}
            </div>
          </div>
        </p-header>
         Diesjährige Beobachtungsperiode: {{piotroskiData.actualAssetTurnover | number}} > Letztjährige Beobachtungsperiode: {{piotroskiData.lastAssetTurnover | number}}
      </p-accordionTab>
    </p-accordion>
  </div>
</div>
