<p-dialog appDialogsize [header]="title" [(visible)]="display" (onHide)="closeDisplay()" width="1200">
  <p-tabView>
    <p-tabPanel i18n-header="@@index.detail.tab.overview.header" header="Overview">
      <p-dataTable [value]="stocks" selectionMode="single" lazy="true" responsive="true" [paginator]="true" [rows]="pageSize" [rowsPerPageOptions]="[10,20,30]" [totalRecords]="totalRecords" (onLazyLoad)="loadData($event)" resizableColumns="true">
        <p-column field="isin" header="ISIN" [sortable]="true"></p-column>
        <p-column field="name" header="Name" [sortable]="true"></p-column>
        <p-column field="country.name" header="Land" [sortable]="true"></p-column>
        <p-column field="branch.name" header="Branche" [sortable]="true"></p-column>
        <p-column field="levermann.marketCapitalization" header="Unternehmensgrösse">
          <ng-template let-col let-stock="rowData" pTemplate="body">
            {{stock['stockCategory']}}
          </ng-template>
        </p-column>
        <p-column field="indexParticipation" header="Anteil">
          <ng-template let-col let-stock="rowData" pTemplate="body">
              <span *ngIf="stock.levermann && stock.levermann.marketCapitalization">{{stock.levermann.marketCapitalization / totalMarketCap * 100 | number}}%</span>
          </ng-template>
        </p-column>
        <p-column field="scores" header="Levermann-Punktzahl">
          <ng-template let-col let-stock="rowData" pTemplate="body">
            <span *ngFor="let score of stock['scores']">
              <span *ngIf="score['scoreType']['name'] == 'Levermann'">{{score['scoreValue']}}</span>
            </span>
          </ng-template>
        </p-column>
        <p-column field="scores" header="Magic Formula-Punktzahl">
          <ng-template let-col let-stock="rowData" pTemplate="body">
            <span *ngFor="let score of stock['scores']">
              <span *ngIf="score['scoreType']['name'] == 'Magic Formula'">{{score['scoreValue'] | number}}</span>
            </span>
          </ng-template>
        </p-column>
        <p-column field="scores" header="Piotroski F-Score-Punktzahl">
          <ng-template let-col let-stock="rowData" pTemplate="body">
            <span *ngFor="let score of stock['scores']">
              <span *ngIf="score['scoreType']['name'] == 'Piotroski F-Score'">{{score['scoreValue']}}</span>
            </span>
          </ng-template>
        </p-column>
      </p-dataTable>
    </p-tabPanel>
    <p-tabPanel i18n-header="@@index.detail.tab.charts.header" header="Charts">
      <p-chart type="pie" [data]="chartData"></p-chart>
    </p-tabPanel>
  </p-tabView>
</p-dialog>