<p-dialog [header]="title" [blockScroll]="true" modal="true" [(visible)]="display" (onHide)="closeDisplay()">
  <p-tabView>
    <p-tabPanel i18n-header="@@index.overview" header="Overview">
      <app-stocktable [external]="true" [stocks]="stocks" [indexPercentage]="indexPercentage" [pageSize]="pageSize" [totalRecords]="totalRecords" [loading]="loading" (onLazyLoad)="onLazyLoad($event)"></app-stocktable>
    </p-tabPanel>
    <p-tabPanel i18n-header="@@index.charts" header="Charts">
      <p-fieldset *ngIf="index && index.country == null" i18n-legend="@@index.country.composition" legend="Composition By Countries" [toggleable]="true">
        <p-chart type="pie" [data]="chartDataCountry"></p-chart>
      </p-fieldset>
      <br />
      <p-fieldset i18n-legend="@@index.branch.composition" legend="Composition By Branches" [toggleable]="true">
        <p-chart type="pie" [data]="chartDataBranch"></p-chart>
      </p-fieldset>
    </p-tabPanel>
  </p-tabView>
</p-dialog>