<div class = "ui-g">
    <div class = "ui-g-12">
        <h1>Stock Analyzer</h1>
    </div>
    <div class = "ui-g-12">
        <p>Sed dictum, est vel dapibus commodo, felis metus faucibus enim, vitae consectetur felis enim eu sem. Nulla iaculis neque ut tristique accumsan. Cras tincidunt lorem vitae sodales dapibus. Phasellus commodo mauris risus, non feugiat leo ullamcorper vel. Donec nec velit ut erat suscipit semper eu volutpat odio. In odio nisi, tempus sed odio eu, sollicitudin fermentum eros. Cras sit amet enim scelerisque, gravida nulla vitae, condimentum mauris. Curabitur ut vulputate mi, id venenatis augue.</p>
        <p>Curabitur quis odio eros. Etiam nec posuere est, vitae interdum nibh. Nam congue dui eget mi laoreet, vitae ullamcorper turpis scelerisque. Praesent maximus fringilla felis, eget facilisis orci tempus eget. Ut finibus arcu eget scelerisque consectetur. Curabitur vehicula malesuada laoreet. Ut pretium dictum tortor, sit amet consequat nisl tempor et. Nullam eu nunc nec purus suscipit placerat ut vel tellus. Nunc elit ex, tincidunt ac metus non, tincidunt bibendum arcu.</p>
        <p>Vivamus at laoreet risus. Quisque hendrerit accumsan tellus, a lobortis eros ullamcorper id. Sed tincidunt velit tellus, non tempor est luctus eu. Nullam congue dui diam, vitae commodo orci accumsan vitae. Fusce sed enim leo. Mauris et porttitor elit, vel venenatis diam. Duis hendrerit ut nibh eu pretium. Fusce ac ultricies enim. Vestibulum euismod ultricies nulla a vestibulum. Ut consequat velit massa, vitae porta dui semper sed.</p>
    </div>
</div>
