<app-stockquickfinder></app-stockquickfinder>
<p-dataTable [value]="stocks" selectionMode="single" [(selection)]="selectedStock" [paginator]="true" [lazy]="true" [rows]="pageSize" (onLazyLoad)="loadData($event)" [totalRecords]="totalRecords" sortField="scoreLevermann" sortOrder="-1">
    <p-column field="isin" header="ISIN" [sortable]="true"></p-column>
    <p-column field="name" header="Name" [sortable]="true"></p-column>
    <p-column field="country.name" header="Land" [sortable]="true"></p-column>
    <p-column field="branch.name" header="Branche" [sortable]="true"></p-column>
    <p-column field="scoreLevermann" header="Levermann-Punktzahl" [sortable]="true">
      <ng-template let-col let-stock="rowData" pTemplate="body">
        <span *ngFor="let score of stock['scores']">
          <span *ngIf="score['scoreType']['name'] == 'Levermann'">{{score['scoreValue']}}</span>
        </span>
      </ng-template>
    </p-column>
    <p-column field="scoreMagicFormula" header="Magic Formula-Punktzahl" [sortable]="true">
      <ng-template let-col let-stock="rowData" pTemplate="body">
        <span *ngFor="let score of stock['scores']">
          <span *ngIf="score['scoreType']['name'] == 'Magic Formula'">{{score['scoreValue'] | number}}</span>
        </span>
      </ng-template>
    </p-column>
    <p-column field="levermann.marketCapitalization" header="Unternehmensgrösse" [sortable]="true">
      <ng-template let-col let-stock="rowData" pTemplate="body">
        {{stock['levermann'] | stockcategory}}
      </ng-template>
    </p-column>
    <p-column field="indexNames" header="Indizes"></p-column>
    <p-column styleClass="col-button">
      <ng-template let-stock="rowData" pTemplate="body">
        <button type="button" pButton (click)="showFundamental(stock)" icon="fa-search"></button>
      </ng-template>
    </p-column>
</p-dataTable>

<app-fundamental [display]="display" [stock]="selectedStock" (close)="closeFundamental($event)"></app-fundamental>
