Values in Mio. {{currency}}
<p-dataTable responsive="true" [value]="removeUnvisibleRows(createTableObject(transposeData(data)))" selectionMode="multiple" (onRowSelect)="selectRow($event)" (onRowUnselect)="unselectRow($event)">
    <p-column *ngFor="let col of getColsFromData(transposeData(data))" [field]="col.field" [header]="col.header">
      <ng-template let-col pTemplate="header">
        <span *ngIf="col.field != 'title'">{{col.field}}</span>
      </ng-template>
      <ng-template let-col let-data="rowData" pTemplate="body">
        <span *ngIf="col.field != 'title'">{{data[col.field] | number}}</span>
        <span *ngIf="col.field == 'title'">{{fieldToLabelName(data[col.field])}}</span>
      </ng-template>
    </p-column>
</p-dataTable>