<form [formGroup]="registerform" (ngSubmit)="onSubmit(registerform.value)">
    <div class = "ui-g">
        <div class = "ui-g-12"><p-messages [(value)]="msgs" [closable]="false"></p-messages></div>
        <div class = "ui-g-12 ui-md-6 ui-lg-3 description" i18n="@@registerform.username">Username</div>
        <div class = "ui-g-12 ui-md-6 ui-lg-3 value"><input type="text" pInputText formControlName="username" [(ngModel)]="username" (blur)="checkUsername()"/></div>
        <div class = "ui-g-12 ui-md-12 ui-lg-6">
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!registerform.controls['username'].valid&&registerform.controls['username'].touched">{{1 | translateMessage}}</div>
        </div>
        <div class = "ui-g-12 ui-md-6 ui-lg-3 description" i18n="@@registerform.email">E-Mail-Address</div>
        <div class = "ui-g-12 ui-md-6 ui-lg-3 value"><input type="text" pInputText formControlName="email" [(ngModel)]="email" email/></div>
        <div class = "ui-g-12 ui-md-12 ui-lg-6">
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!registerform.controls['email'].valid&&registerform.controls['email'].touched">{{2 | translateMessage}}</div>
        </div>
        <div class = "ui-g-12 ui-md-6 ui-lg-3 description" i18n="@@registerform.password">Password</div>
        <div class = "ui-g-12 ui-md-6 ui-lg-3 value"><input type="password" pInputText formControlName="password" [(ngModel)]="password"/></div>
        <div class = "ui-g-12 ui-md-12 ui-lg-6">
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!registerform.controls['password'].valid&&registerform.controls['password'].touched">{{3 | translateMessage}}</div>
        </div>
        <div class = "ui-g-12 ui-md-6 ui-lg-3 description" i18n="@@registerform.passwordr">Password (Repeat)</div>
        <div class = "ui-g-12 ui-md-6 ui-lg-3 value"><input type="password" pInputText formControlName="passwordR" [(ngModel)]="passwordR"/></div>
        <div class = "ui-g-12 ui-md-12 ui-lg-6">
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!registerform.controls['passwordR'].valid&&registerform.controls['passwordR'].touched">{{4 | translateMessage}}</div>
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="registerform.controls['passwordR'].touched&&(registerform.controls['password'].value != registerform.controls['passwordR'].value)">{{5 | translateMessage}}</div>
        </div>
        <!--<div class = "ui-g-12 ui-md-6 ui-lg-3"></div>
        <div class = "ui-g-12 ui-md-6 ui-lg-3><p-captcha siteKey="6Ldx0DYUAAAAAGNPGfZaqZ0b8bC8BV-FyO00K5_N" size="compact" (onResponse)="showResponse($event)"></p-captcha></div>
        <div class = "ui-g-12 ui-md-12 ui-lg-6"></div>-->
        <div class = "ui-g-12"><button pButton type="submit" label="Register" [disabled]="!registerform.valid||existingUsername" i18n-label="@@registerform.submit.label"></button></div>
    </div>
</form>
