<p-dataTable [value]="indices" selectionMode="single" [(selection)]="selectedIndex" [paginator]="true" [lazy]="true" [rows]="pageSize" (onLazyLoad)="loadData($event)" [totalRecords]="totalRecords">
    <p-column field="name" header="Name" [sortable]="true"></p-column>
    <p-column field="country.name" header="Land" [sortable]="true"></p-column>
    <p-column field="realStocks.length" header="Aktien" [sortable]="false"></p-column>
    <p-column field="scoreLevermann" header="Levermann-Punktzahl" [sortable]="true">
      <ng-template let-col let-index="rowData" pTemplate="body">
        <span *ngFor="let score of index['scores']">
          <span *ngIf="score['scoreType']['name'] == 'Levermann'">{{score['scoreValue'] | number}}</span>
        </span>
      </ng-template>
    </p-column>
    <p-column field="scoreMagicFormula" header="Magic Formula-Punktzahl" [sortable]="true">
      <ng-template let-col let-index="rowData" pTemplate="body">
        <span *ngFor="let score of index['scores']">
          <span *ngIf="score['scoreType']['name'] == 'Magic Formula'">{{score['scoreValue'] | number}}</span>
        </span>
      </ng-template>
    </p-column>
    <p-column field="scorePiotroski" header="Piotroski F-Score-Punktzahl" [sortable]="true">
      <ng-template let-col let-index="rowData" pTemplate="body">
        <span *ngFor="let score of index['scores']">
          <span *ngIf="score['scoreType']['name'] == 'Piotroski F-Score'">{{score['scoreValue'] | number}}</span>
        </span>
      </ng-template>
    </p-column>
    <p-column styleClass="col-button">
      <ng-template let-index="rowData" pTemplate="body">
        <button type="button" pButton (click)="showIndexDetail(index)" icon="fa-search"></button>
      </ng-template>
    </p-column>
</p-dataTable>