<form [formGroup]="resetform">
  <div class = "ui-g">
    <div class = "ui-g-12"><p-messages [(value)]="msgs" [closable]="false"></p-messages></div>
    <div class = "ui-g-12 ui-md-6 ui-lg-3 description" i18n="@@password.reset.username">Username</div>
    <div class = "ui-g-12 ui-md-6 ui-lg-3 value"><input type="text" pInputText formControlName="username" [(ngModel)]="username"/></div>
    <div class = "ui-g-12 ui-md-12 ui-lg-6 value">
      <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!resetform.controls['username'].valid&&resetform.controls['username'].touched">{{2 | translateMessage}}</div>
    </div>
    <div class = "ui-g-12"><button pButton type="submit" label="Submit" (change)="resetPwd()" [disabled]="!resetform.valid" i18n-label="@@password.reset.submit.label"></button></div>
  </div>
</form>
