<div class = "ui-g">
    <div class = "ui-g-12">
        <h1>Contact</h1>
    </div>
    <div class = "ui-g-12">
        <p>In fringilla congue rhoncus. Vestibulum non efficitur est. Phasellus sagittis dui ipsum, at malesuada ipsum vulputate quis. Vivamus bibendum dolor dolor, in iaculis tortor scelerisque id. Ut lacus nisi, iaculis nec diam eget, egestas facilisis tortor. Fusce non urna feugiat, ultrices odio nec, consectetur libero. Morbi efficitur arcu ut mauris sodales tristique. Etiam consectetur dapibus malesuada. In commodo luctus commodo. Praesent commodo eros ac lorem ornare cursus. Quisque nec volutpat justo. Ut risus magna, consequat ut lobortis quis, rutrum non dolor. Pellentesque viverra eros ipsum, vel tempor tellus luctus vitae. Etiam felis eros, malesuada commodo tellus id, posuere fringilla ex.</p>
    </div>
</div>