<div class = "ui-g">
<div class = "ui-g-12">
<p-messages [(value)]="msgs" [closable]="false"></p-messages>
</div>
</div>
<div class = "ui-g">
<div class = "ui-g-3" i18n="@@score.combiner.levermann_factor.label">
Levermann-Factor:
</div>
<div class = "ui-g-3">
<input type="text" pInputText [(ngModel)]="levermannFactor" style="width:190px"/>
</div>
<div class = "ui-g-6">
<p-slider [(ngModel)]="levermannFactor" [min]="0" [max]="100" (onChange)="handleChange($event)"></p-slider>
</div>
</div>
<div class = "ui-g">
<div class = "ui-g-3" i18n="@@score.combiner.magic_formula_factor.label">
Magic Formula-Factor:
</div>
<div class = "ui-g-3">
<input type="text" pInputText [(ngModel)]="magicFormulaFactor" style="width:190px"/>
</div>
<div class = "ui-g-6">
<p-slider [(ngModel)]="magicFormulaFactor" [min]="0" [max]="100" (onChange)="handleChange($event)"></p-slider>
</div>
</div>
<div class = "ui-g">
<div class = "ui-g-3" i18n="@@score.combiner.piotroski_factor.label">
Piotroski F-Score-Factor:
</div>
<div class = "ui-g-3">
<input type="text" pInputText [(ngModel)]="piotroskiFactor" style="width:190px"/>
</div>
<div class = "ui-g-6">
<p-slider [(ngModel)]="piotroskiFactor" [min]="0" [max]="100" (onChange)="handleChange($event)"></p-slider>
</div>
</div>
<div class = "ui-g">
<div class = "ui-g-3">
</div>
<div class = "ui-g-9">
<button type="button" pButton i18n-label="score.combiner.levermann.label" label="Levermann" (click)="setPureLevermann()" [disabled]="isPureLevermann()"></button>
<button type="button" pButton i18n-label="score.combiner.piotroski.label" label="Piotroski" (click)="setPurePiotroski()" [disabled]="isPurePiotroski()"></button>
<button type="button" pButton i18n-label="score.combiner.magicformula.label" label="Magic Formula" (click)="setPureMagicFormula()()" [disabled]="isPureMagicFormula()"></button>
</div>
</div>
<div class = "ui-g">
<div class = "ui-g-3" i18n="@@score.combiner.exclude_countries.label">
Exclude countries:
</div>
<div class = "ui-g-9">
<p-multiSelect [options]="countries" [(ngModel)]="excludedCountries" i18n-defaultLabel="@@search.choice.label" defaultLabel="Choose" i18n-selectedItemsLabel="@@search.choice.selected.label" selectedItemsLabel="{0} entries selected" maxSelectedLabels=2></p-multiSelect>
</div>
</div>
<div *ngIf="stockOrIndex == 'stock'" class = "ui-g">
<div class = "ui-g-3" i18n="@@score.combiner.exclude_countries.label">
Exclude branches:
</div>
<div class = "ui-g-9">
<p-multiSelect [options]="branches" [(ngModel)]="excludedBranches" i18n-defaultLabel="@@search.choice.label" defaultLabel="Choose" i18n-selectedItemsLabel="@@search.choice.selected.label" selectedItemsLabel="{0} entries selected" maxSelectedLabels=2></p-multiSelect>
</div>
</div>
<div *ngIf="stockOrIndex == 'stock'" class = "ui-g">
<div class = "ui-g-3" i18n="@@score.combiner.companysize.label">
Company size:
</div>
<div class = "ui-g-9">
<p-selectButton [options]="companySizeItems" [(ngModel)]="companySize"></p-selectButton>
</div>
</div>
<div class = "ui-g">
<div class = "ui-g-3" i18n="@@score.combiner.number_of_results.label">
Number of results:
</div>
<div class = "ui-g-9">
<p-spinner [(ngModel)]="numRows" [min]="1" [max]="50"></p-spinner>
</div>
</div>
<div class = "ui-g">
<div class = "ui-g-3" i18n="@@score.combiner.type_of_results.label">
Type of results:
</div>
<div class = "ui-g-9">
<p-selectButton [options]="stockOrIndexItem" [(ngModel)]="stockOrIndex" (onChange)="handleSelectChange($event)"></p-selectButton>
</div>
</div>
<div class = "ui-g">
<div class = "ui-g-12">
<button type="button" pButton i18n-label="score.combiner.search.label" label="Search" (click)="getScoreValues()" [disabled]="!isValid()" icon="fa-search"></button>
<button type="button" pButton i18n-label="@@search.reset.label" label="Reset filters" (click)="reset()" icon="fa-remove"></button>
</div>
</div>

<div *ngIf="stockOrIndex == 'stock'" class = "ui-g">
<div class = "ui-g-12">
<p-dataTable #dt [value]="scores" selectionMode="single" [(selection)]="selectedScore" resizableColumns="true">
  <p-header>
    <div class="ui-helper-clearfix">
      <button type="button" pButton icon="fa-file-o" iconPos="left" label="CSV" (click)="dt.exportCSV()" style="float:left"></button>
    </div>
  </p-header>
  <p-column field="stock.isin" header="ISIN"></p-column>
  <p-column field="stock.name" i18n-header="@@stock.table.name.header" header="Name"></p-column>
  <p-column field="stock.branch.name" i18n-header="@@stock.table.branch.header" header="Branch"></p-column>
  <p-column field="stock.country.name" i18n-header="@@stock.table.country.header" header="Country"></p-column>
  <p-column field="scoreValue" i18n-header="@@stock.table.score.header" header="Score">
    <ng-template let-col let-score="rowData" pTemplate="body">
      {{score[col.field] * 100 | number}}
    </ng-template>
  </p-column>
</p-dataTable>
</div>
</div>

<div *ngIf="stockOrIndex == 'index'" class = "ui-g">
<div class = "ui-g-12">
<p-dataTable #dt [value]="scores" selectionMode="single" [(selection)]="selectedScore" resizableColumns="true">
  <p-header>
    <div class="ui-helper-clearfix">
      <button type="button" pButton icon="fa-file-o" iconPos="left" label="CSV" (click)="dt.exportCSV()" style="float:left"></button>
    </div>
  </p-header>
  <p-column field="index.name" i18n-header="@@index.table.name.header" header="Name"></p-column>
  <p-column field="index.country.name" i18n-header="@@index.table.country.header" header="Country"></p-column>
  <p-column field="index.realStocks.length" i18n-header="@@index.table.nbrofstocks.header" header="Number of Stocks"></p-column>
  <p-column field="scoreValue" i18n-header="@@index.table.score.header" header="Score">
    <ng-template let-col let-score="rowData" pTemplate="body">
      {{score[col.field] * 100 | number}}
    </ng-template>
  </p-column>
</p-dataTable>
</div>
</div>