<div class = "ui-g">
<div class = "ui-g-12">
<p-messages [(value)]="msgs" [closable]="false"></p-messages>
</div>
</div>
<div class = "ui-g">
  <div class = "ui-g-12 ui-md-3 ui-lg-3 description" i18n="@@score.combiner.levermann_factor">Levermann-Factor</div>
  <div class = "ui-g-12 ui-md-3 ui-lg-3 value">
    <input type="number" pInputText [(ngModel)]="levermannFactor" (change)="handleChange($event)" style="width:190px"/>
  </div>
  <div class = "ui-g-9 ui-md-6 ui-lg-6 value">
    <p-slider [(ngModel)]="levermannFactor" [min]="0" [max]="100" (onChange)="handleChange($event)"></p-slider>
  </div>
</div>
<div class = "ui-g">
  <div class = "ui-g-12 ui-md-3 ui-lg-3 description" i18n="@@score.combiner.magic_formula_factor">Magic Formula-Factor</div>
  <div class = "ui-g-12 ui-md-3 ui-lg-3 value">
    <input type="number" pInputText [(ngModel)]="magicFormulaFactor" (change)="handleChange($event)" style="width:190px"/>
  </div>
  <div class = "ui-g-9 ui-md-6 ui-lg-6 value">
    <p-slider [(ngModel)]="magicFormulaFactor" [min]="0" [max]="100" (onChange)="handleChange($event)"></p-slider>
  </div>
</div>
<div class = "ui-g">
  <div class = "ui-g-12 ui-md-3 ui-lg-3 description" i18n="@@score.combiner.piotroski_factor">Piotroski F-Score-Factor</div>
  <div class = "ui-g-12 ui-md-3 ui-lg-3 value">
    <input type="number" pInputText [(ngModel)]="piotroskiFactor" (change)="handleChange($event)" style="width:190px"/>
  </div>
  <div class = "ui-g-9 ui-md-6 ui-lg-6 value">
    <p-slider [(ngModel)]="piotroskiFactor" [min]="0" [max]="100" (onChange)="handleChange($event)"></p-slider>
  </div>
</div>
<div class = "ui-g">
  <div class = "ui-g-12 ui-md-3 ui-lg-3 description">
  </div>
  <div class = "ui-g-12 ui-md-9 ui-lg-9 value">
    <button type="button" pButton i18n-label="score.combiner.levermann.label" label="Levermann" (click)="setPureLevermann()" [disabled]="isPureLevermann()"></button>
    <button type="button" pButton i18n-label="score.combiner.piotroski.label" label="Piotroski" (click)="setPurePiotroski()" [disabled]="isPurePiotroski()"></button>
    <button type="button" pButton i18n-label="score.combiner.magicformula.label" label="Magic Formula" (click)="setPureMagicFormula()" [disabled]="isPureMagicFormula()"></button>
  </div>
</div>
<div class = "ui-g">
  <div class = "ui-g-12 ui-md-3 ui-lg-3 description" i18n="@@score.combiner.exclude_countries">Exclude countries</div>
  <div class = "ui-g-12 ui-md-9 ui-lg-9 value">
    <p-multiSelect [options]="countries" [(ngModel)]="excludedCountries" i18n-defaultLabel="@@search.choice.label" defaultLabel="Choose" i18n-selectedItemsLabel="@@search.choice.selected.label" selectedItemsLabel="{{ '{' }}0{{ '}' }} entries selected" maxSelectedLabels=2></p-multiSelect>
  </div>
</div>
<div *ngIf="stockOrIndex == 'stock'" class = "ui-g">
  <div class = "ui-g-12 ui-md-3 ui-lg-3 description" i18n="@@score.combiner.exclude_branches">Exclude branches</div>
  <div class = "ui-g-12 ui-md-9 ui-lg-9 value">
    <p-multiSelect [options]="branches" [(ngModel)]="excludedBranches" i18n-defaultLabel="@@search.choice.label" defaultLabel="Choose" i18n-selectedItemsLabel="@@search.choice.selected.label" selectedItemsLabel="{{ '{' }}0{{ '}' }} entries selected" maxSelectedLabels=2></p-multiSelect>
  </div>
</div>
<div *ngIf="stockOrIndex == 'stock'" class = "ui-g">
  <div class = "ui-g-12 ui-md-3 ui-lg-3 description" i18n="@@score.combiner.companysize">Company size</div>
  <div class = "ui-g-12 ui-md-9 ui-lg-9 value">
    <p-selectButton [options]="companySizeItems" [(ngModel)]="companySize"></p-selectButton>
  </div>
</div>
<div class = "ui-g">
  <div class = "ui-g-12 ui-md-3 ui-lg-3 description" i18n="@@score.combiner.number_of_results">Number of results</div>
  <div class = "ui-g-12 ui-md-9 ui-lg-9 value">
    <p-spinner [(ngModel)]="numRows" [min]="1"></p-spinner>
  </div>
</div>
<div class = "ui-g">
  <div class = "ui-g-12 ui-md-3 ui-lg-3 description" i18n="@@score.combiner.type_of_results">Type of results</div>
  <div class = "ui-g-12 ui-md-9 ui-lg-9 value">
    <p-selectButton [options]="stockOrIndexItem" [(ngModel)]="stockOrIndex" (onChange)="handleSelectChange($event)"></p-selectButton>
  </div>
</div>
<div class = "ui-g">
  <div class = "ui-g-12">
    <button type="button" pButton i18n-label="@@score.combiner.search" label="Search" (click)="getScoreValues()" [disabled]="!isValid()" icon="fa-search"></button>
    <button type="button" pButton i18n-label="@@score.combiner.reset" label="Reset filters" (click)="reset()" icon="fa-remove"></button>
  </div>
</div>

<div *ngIf="stockOrIndex == 'stock'" class = "ui-g">
  <div class = "ui-g-12">
    <p-dataTable #dt [value]="scores" [loading]="loading" selectionMode="single" [(selection)]="selectedScore" resizableColumns="true" responsive="true" [emptyMessage]="helperService.getEmptyMessage(locale)">
      <p-header>
        <div class="ui-helper-clearfix">
          <button type="button" pButton icon="fa-file-o" iconPos="left" label="CSV" (click)="dt.exportCSV()" style="float:left"></button>
          <span *ngIf="getCompareSize() >= 1"><p-splitButton [label]="getCompareLabel()" icon="fa-balance-scale" (onClick)="compare()" [model]="getCompareItems()" styleClass="ui-button-warning" [style]="{'float':'right'}"></p-splitButton></span>
        </div>
      </p-header>
      <p-column field="stock.isin" i18n-header="@@stock.isin" header="ISIN"></p-column>
      <p-column field="stock.name" i18n-header="@@stock.name" header="Name"></p-column>
      <p-column field="stock.branch.name" i18n-header="@@stock.branch" header="Branch">
        <ng-template let-score="rowData" pTemplate="body">
          <span *ngIf="score['stock']">{{score['stock']['branch']['name'] | translateBranch}}</span>
        </ng-template>
      </p-column>
      <p-column field="stock.country.name" i18n-header="@@stock.country" header="Country">
        <ng-template let-score="rowData" pTemplate="body">
          <span *ngIf="score['stock']">{{score['stock']['country']['name'] | translateCountry}}</span>
        </ng-template>
      </p-column>
      <p-column field="stock.latestPrice.price" i18n-header="@@stock.price" header="Price"></p-column>
      <p-column field="stock.shareCurrency" i18n-header="@@stock.sharecurrency" header="Share Currency"></p-column>
      <p-column field="scoreValue" i18n-header="@@stock.score" header="Score">
        <ng-template let-col let-score="rowData" pTemplate="body">
          {{score[col.field] * 100 | number}}
        </ng-template>
      </p-column>
      <p-column i18n-header="@@stock.details" header="Details" styleClass="col-button">
        <ng-template let-score="rowData" pTemplate="body">
          <button type="button" pButton (click)="showStock(score)" icon="fa-search"></button>
        </ng-template>
      </p-column>
      <p-column i18n-header="@@stock.compare" header="Compare" styleClass="col-button">
        <ng-template let-score="rowData" pTemplate="body">
          <span *ngIf="score['stock'] && !isStockInCompare(score['stock'])"><button type="button" pButton (click)="addCompare(score['stock'])" icon="fa-plus-square" class="ui-button-success"></button></span>
          <span *ngIf="score['stock'] && isStockInCompare(score['stock'])"><button type="button" pButton (click)="removeCompare(score['stock'])" icon="fa-minus-square" class="ui-button-danger"></button></span>
        </ng-template>
      </p-column>
    </p-dataTable>
  </div>
</div>

<div *ngIf="stockOrIndex == 'index'" class = "ui-g">
  <div class = "ui-g-12">
    <p-dataTable #dt [value]="scores" [loading]="loading" selectionMode="single" [(selection)]="selectedScore" resizableColumns="true" responsive="true" [emptyMessage]="helperService.getEmptyMessage(locale)">
      <p-header>
        <div class="ui-helper-clearfix">
          <button type="button" pButton icon="fa-file-o" iconPos="left" label="CSV" (click)="dt.exportCSV()" style="float:left"></button>
        </div>
      </p-header>
      <p-column field="index.name" i18n-header="@@index.name" header="Name"></p-column>
      <p-column field="index.country.name" i18n-header="@@index.country" header="Country">
        <ng-template let-score="rowData" pTemplate="body">
          <span *ngIf="score['index']">{{score['index']['country']['name'] | translateCountry}}</span>
        </ng-template>
      </p-column>
      <p-column field="index.realStocks.length" i18n-header="@@index.nbrofstocks" header="Number of Stocks">
          <ng-template let-col let-score="rowData" pTemplate="body">
              <span *ngIf="score && score['index'] && score['index']['realStocks']">{{score['index']['realStocks'].length}}<span *ngIf="score['index']['totalStocks'] != null">/{{score['index']['totalStocks']}} ({{(score['index']['realStocks'].length / score['index']['totalStocks']) * 100 | number:'.0-1'}}%)</span></span>
          </ng-template>
      </p-column>
      <p-column field="scoreValue" i18n-header="@@index.score" header="Score">
        <ng-template let-col let-score="rowData" pTemplate="body">
          {{score[col.field] * 100 | number}}
        </ng-template>
      </p-column>
      <p-column  i18n-header="@@index.details" header="Details" styleClass="col-button">
        <ng-template let-score="rowData" pTemplate="body">
          <button type="button" pButton (click)="showIndex(score)" icon="fa-search"></button>
        </ng-template>
      </p-column>
    </p-dataTable>
  </div>
</div>