<div *ngIf="action == 'change'" class = "ui-g">
<form [formGroup]="passwordform">
    <div class = "ui-g">
        <div class = "ui-g-12"><p-messages [(value)]="msgs" [closable]="false"></p-messages></div>
        <div class = "ui-g-3" i18n="@@search.name.label">Password</div>
        <div class = "ui-g-3"><input type="password" pInputText formControlName="password" [(ngModel)]="password"/></div>
        <div class = "ui-g-6">
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!passwordform.controls['password'].valid&&passwordform.controls['password'].touched">Password missing or to short</div>
        </div>
        <div class = "ui-g-3" i18n="@@search.name.label">New Password</div>
        <div class = "ui-g-3"><input type="password" pInputText formControlName="passwordNew" [(ngModel)]="passwordNew"/></div>
        <div class = "ui-g-6">
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!passwordform.controls['passwordNew'].valid&&passwordform.controls['passwordNew'].touched">Password missing or to short</div>
        </div>
        <div class = "ui-g-3" i18n="@@search.name.label">New Password (Repeat)</div>
        <div class = "ui-g-3"><input type="password" pInputText formControlName="passwordNewR" [(ngModel)]="passwordNewR"/></div>
        <div class = "ui-g-6">
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!passwordform.controls['passwordNewR'].valid&&passwordform.controls['passwordNewR'].dirty">Repeat password</div>
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="passwordform.controls['passwordNew'] != passwordform.controls['passwordNewR']">Passwords not equal</div>
        </div>
        <div class = "ui-g-12"><button pButton type="submit" label="Submit" (click)="changePwd()" [disabled]="!passwordform.valid" i18n-label="@@passwordform.register.label"></button></div>
    </div>
</form>
</div>
<div *ngIf="action == 'reset'" class = "ui-g">
  <form [formGroup]="resetform">
      <div class = "ui-g">
          <div class = "ui-g-12"><p-messages [(value)]="msgs" [closable]="false"></p-messages></div>
          <div class = "ui-g-3" i18n="@@search.name.label">Username</div>
          <div class = "ui-g-3"><input type="text" pInputText formControlName="username" [(ngModel)]="username" email/></div>
          <div class = "ui-g-6">
              <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!resetform.controls['username'].valid&&resetform.controls['username'].touched">Mail-Address is missing</div>
          </div>
          <div class = "ui-g-12"><button pButton type="submit" label="Submit" (change)="resetPwd()" [disabled]="!resetform.valid" i18n-label="@@resetform.register.label"></button></div>
      </div>
  </form>
</div>