<div *ngIf="action == 'change'" class = "ui-g">
<form [formGroup]="passwordform">
    <div class = "ui-g">
        <div class = "ui-g-12"><p-messages [(value)]="msgs" [closable]="false"></p-messages></div>
        <div class = "ui-g-12 ui-md-6 ui-lg-3 description" i18n="@@password.change.password">Password</div>
        <div class = "ui-g-12 ui-md-6 ui-lg-3 value"><input type="password" pInputText formControlName="password" [(ngModel)]="password"/></div>
        <div class = "ui-g-12 ui-md-12 ui-lg-6">
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!passwordform.controls['password'].valid&&passwordform.controls['password'].touched">{{3 | translateMessage}}</div>
        </div>
        <div class = "ui-g-12 ui-md-6 ui-lg-3 description" i18n="@@password.change.newpassword">New Password</div>
        <div class = "ui-g-12 ui-md-6 ui-lg-3 value"><input type="password" pInputText formControlName="passwordNew" [(ngModel)]="passwordNew"/></div>
        <div class = "ui-g-12 ui-md-12 ui-lg-6">
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!passwordform.controls['passwordNew'].valid&&passwordform.controls['passwordNew'].touched">{{3 | translateMessage}}</div>
        </div>
        <div class = "ui-g-12 ui-md-6 ui-lg-3 description" i18n="@@password.change.newpasswordr">New Password (Repeat)</div>
        <div class = "ui-g-12 ui-md-6 ui-lg-3 value"><input type="password" pInputText formControlName="passwordNewR" [(ngModel)]="passwordNewR"/></div>
        <div class = "ui-g-12 ui-md-12 ui-lg-6 value">
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!passwordform.controls['passwordNewR'].valid&&passwordform.controls['passwordNewR'].dirty">{{4 | translateMessage}}</div>
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="passwordform.controls['passwordNew'].valid&&passwordform.controls['passwordNewR'].valid&&passwordform.controls['passwordNew'] != passwordform.controls['passwordNewR']">{{5 | translateMessage}}</div>
        </div>
        <div class = "ui-g-12"><button pButton type="submit" label="Submit" (click)="changePwd()" [disabled]="!passwordform.valid" i18n-label="@@password.change.submit.label"></button></div>
    </div>
</form>
</div>
<div *ngIf="action == 'reset'" class = "ui-g">
  <form [formGroup]="resetform">
      <div class = "ui-g">
          <div class = "ui-g-12"><p-messages [(value)]="msgs" [closable]="false"></p-messages></div>
          <div class = "ui-g-12 ui-md-6 ui-lg-3 description" i18n="@@password.reset.username">Username</div>
          <div class = "ui-g-12 ui-md-6 ui-lg-3 value"><input type="text" pInputText formControlName="username" [(ngModel)]="username" email/></div>
          <div class = "ui-g-12 ui-md-12 ui-lg-6 value">
              <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!resetform.controls['username'].valid&&resetform.controls['username'].touched">{{2 | translateMessage}}</div>
          </div>
          <div class = "ui-g-12"><button pButton type="submit" label="Submit" (change)="resetPwd()" [disabled]="!resetform.valid" i18n-label="@@password.reset.submit.label"></button></div>
      </div>
  </form>
</div>